#Reply {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

#Reply:hover {
    opacity: .5;
    transition: .2s ease-in;
}

#Reply button {
    background: transparent;
    border: none;
    color: hsl(238, 40%, 52%);
    font-size: 15px;
    font-weight: 700;
    cursor: url('../../assets/Images/icons8-natural-user-interface-2-24.png'), pointer;

}

#replyImg {
    width: 18px;
}

@media screen and (max-width: 600px) {



    #Reply button {
        font-size: 16px;
    }
}